html, body {
  margin: 20px;
}

.bs-filters {
	/*position: absolute;
	top: -110px;*/
}

.items-list {
	/*margin-top: 140px;*/
}

.items-list h2 {
	/*position: absolute;
	top: -70px;*/
}

.item {
	border: 1px solid #CCC;
	padding: 5px;
	margin: 10px;
	list-style: none;
	transition: all .5s ease;
	-webkit-transition: all .2s ease;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.green {
	color: green;
}

.yellow {
	color: yellow;
}

.purple {
	color: purple;
}

.hide-non-filtered .item {
	display: none;
}

.show-red .item, .show-blue .item, .show-green .item, .show-yellow .item, .show-purple .item {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.show-red .red, .show-blue .blue, .show-green .green, .show-yellow .yellow, .show-purple .purple {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	display: block;
}
